@media screen and (max-width:800px){

    aside{
        display: none;
    }
        
    .container-form {
    
    justify-content: center;
    }

    main {  
    margin-left: 0;
    }

    .navbar {
    
    width: 100vw;
    }

    .message {
        width: 100vw;
        margin-inline: var(--spacing2);
        left:0;
    }
    
     .message p {
        width: 100vw;
    }
      
}

@media screen and (max-width:600px) and (min-width:360px){

    main{
        background:none;
    }
    .forms{
        margin-top: 60px;
        width: 340px;
    }
    input{
        width: 340px;
    }
    textarea{
     width: 340px;
    }
}


