@font-face {
  font-family: Grabstein;
  src: url("./fonts/Grabstein\ Gotik.otf");
}

@font-face {
  font-family: Zai;
  src: url("./fonts/zai_ItalicHandCalligraphy.otf");
}

@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap");

:root {
  --title-font: Grabstein;
  --bio-font: Zai;
  --main-p-font: "Roboto Condensed";
  --background-color: rgb(36, 36, 36);
  --aside-color: rgb(107, 28, 44);
  --p-color: rgb(230, 230, 230);
  --line-color: rgb(215, 175, 75);
  --spacing1: 8px;
  --spacing2: 16px;
  --width-aside: 300px;
}

body {
  box-sizing: border-box;
  margin: 0;
  background: url("./images/pattern-curl.png") repeat;
  font-family: var(--main-p-font);
  color: var(--p-color);
}

.h2xp {
  text-align: center;
}

.experience {
  width: calc(100vw - var(--width-aside));
  position: absolute;
  right: 0;
}

.containerxp {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 40px;
}

.firstxp {
  width: 300px;
}

.imgxp {
  width: 300px;
  border: 2px outset silver;
}
