@font-face {
  font-family: Grabstein;
  src: url("fonts/GrabsteinGotik.otf");
}

@font-face {
  font-family: Zai;
  src: url("./fonts/zai_ItalicHandCalligraphy.otf");
}

@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap");

:root {
  --title-font: Grabstein;
  --bio-font: Zai;
  --main-p-font: "Roboto Condensed";
  --background-color: rgb(36, 36, 36);
  --aside-color: rgb(107, 28, 44);
  --p-color: rgb(230, 230, 230);
  --line-color: rgb(215, 175, 75);
  --spacing1: 8px;
  --spacing2: 16px;
  --width-aside: 300px;
  --spacing3: 48px;
  --ban-color: rgba(0, 0, 0, 0.70);
}
 header {
  display: flex;
  justify-content: flex-end;
}


  


body {
  box-sizing: border-box;
  margin: 0;
  background: url("./images/pattern-curl.png") repeat;
  font-family: var(--main-p-font);
  color: var(--p-color);
}


.container-ban {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: relative;
  height: 450px;
  width: calc(100vw - var(--width-aside));
  background-size: cover;
  background: linear-gradient(var(--ban-color), var(--ban-color)), url(./images/sonn.png);
    
}

.container-ban p {
 padding-left:  var(--spacing3);
 padding-right:  var(--spacing3); 
  position: absolute;
 font-family: var(--bio-font);
 color: white;
 font-size: 30px;
 text-indent: 10%;
 font-weight: bold 2px;
 text-shadow: black 1px 1px 1px;
}

